/* FloatingNumber.css */
.floating-scores {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  animation: float 20s ease-out forwards;
  color: #239928;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
