.tapper{
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.3s ease;
  border-radius: 50%; /* Makes it a circle */
  border: 5px solid transparent; /* Border width and style */
  background: linear-gradient(180deg, #FFE32C, #52ACFF) border-box;

  .img {
    width: 100%;
    height: auto;
  }
}
